{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
    "react-app",
    "plugin:prettier/recommended",
    "prettier/standard",
    "prettier/react"
  ],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "17"
    }
  },
  "rules": {
    "react/prop-types": 1,
    "react/jsx-handler-names": 0,
    "react/jsx-fragments": 0,
    "react/no-unused-prop-types": 1,
    "import/export": 1,
    "indent": ["error", 2],

    // Indent JSX with 4 spaces
    "react/jsx-indent": ["error", 2],

    // Indent props with 4 spaces
    "react/jsx-indent-props": ["error", 2],

    "semi": ["error", "never"],
    "space-before-function-paren": [2, "never"]
  }
}
